.list{
	list-style-type: none;
	padding-left:0px !important;
	margin-top:1.24em;
}

.member-profile--item{
	display:flex;
	flex-direction: row;
	min-width:300px;
	border-bottom:1px solid lightgrey;
	padding-bottom:1.24em;
	flex: 1 1 0px;
}

.member-profile--item img.profile_picture{
	width:150px;
	float:left;
}

.directory-body{
	display:flex;
	flex-direction: column;
	color:#000000;
	margin-left:1.24em;
	flex: 1 1 0px;
}

.profile-image{
	width:100%;
}

#member-profile-list svg{
	display:block;
	margin-left:auto;
	margin-right:auto;
	position:relative;
	
}

#member-profile-list, #member-profile-list .form-floating{
	width:100%;
}

/* Account Styles */
.profile-picture-form-display{
	width:300px;
	height:300px;
	margin-bottom:24px;
}

.profile-picture-form-display--img{
	height:100%;
	max-width:100%;
	max-height:inherit;
}