.wp-block-cover a{
	color:inherit !important;
	text-decoration: none;
}

.wp-block-cover a:hover{
	color:inherit;
}

.wp-block-group img{
	height: auto !important;
}

@media(max-width:786px){
	.wp-block-column{
		margin-bottom:1.5rem;
	}
}