.list{
	list-style-type: none;
	padding-left:0px !important;
	margin-top:1.24em;
}

.member-profile--item{
	display:flex;
	flex-direction: row;
	min-width:300px;
	border-bottom:1px solid lightgrey;
	padding-bottom:1.24em;
	flex: 1 1 0px;
}

.member-profile--item img.profile_picture{
	width:150px;
	float:left;
}

.directory-body{
	display:flex;
	flex-direction: column;
	color:#000000;
	margin-left:1.24em;
	flex: 1 1 0px;
	justify-content:center;
	align-items:center;
}

.profile-image{
	width:100%;
}

#member-profile-list svg{
	display:block;
	margin-left:auto;
	margin-right:auto;
	position:relative;
	
}

#member-profile-list, #member-profile-list .form-floating{
	width:100%;
}


/* Account Styles */
.profile-picture-input{
	display:none;
}

.profile-picture-mask{
	position: absolute;
	width: inherit;
	height: inherit;
	background-color: rgba(0,0,0,0.3);
	color: #ffffff;
	cursor: pointer;
	display:none;
	justify-content: center;
	align-items:center;
}

.profile-picture-form-display:hover .profile-picture-mask{
	display:flex;
}

.profile-picture-form-display:hover .remove-image-button{
	display: block;
}

.profile-picture-form-display{
	width:300px;
	height:300px;
	position:relative;
}


.profile-picture-form-display--img{
	width:inherit;
	height:inherit;
}

table .profile-picture-form-display--img{
	height:150px;
	width:150px;
}


.table-image-input, .table-image-input .profile-picture-form-display{
	max-height:150px;
	max-width:150px;
	height:150px;
	width:150px;
}

.remove-image-button{
	position:absolute;
	top:0px;
	right:0px;
	border:none;
	background-color:#000000;
	color:#ffffff;
	border-radius:50px;
	font-size:14px;
	display:none;
}



.switch{
	position:relative;
	display:inline-block;
	width:60px;
	height:34px;
}

.switch input{
	opacity:0;
	width:0;
	height:0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius:34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius:34px;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Members Menu */
@media(max-width:786px){
	.members-menu{
		position:fixed;
		bottom: 0;
		left:0;
		right:0;
		z-index:1030;
	}
}
.members-menu{
	background:darkgrey !important;
}

.members-nav li a{
	border-radius: 0px !important;
}

.members-nav li a.active{
	background-color: #014421 !important;
	color: #ffffff;
}

.members-nav li a{
	color:#000000;
}

.members-menu--logo{
	width:100%;
	max-width:300px;
}

.toggle-sidebar-nav{
	position:fixed;
	top:0;
	left:0;
	background: none !important;
	color:#f3f3f3;
}
/* Loading */
.loading-indicator{
	position:absolute;
	top:50%;
	left:50%;
	transform: translate(-50%, -50%);
	display:none;
}

/* Member Profile Page */


.member-profile--image{
	border-radius: 50%;
	width:300px;
	height:300px;
	overflow:hidden;
	position:relative;
	background-position: center center;
	background-size: cover;
	min-width:300px;
	max-width:300px;
	min-height:300px;
	max-height:300px;
}


.member-profile--info{
	width:100%;
	padding-left:15px;
	padding-right:15px;
}


