
/* Primary Navigation Styles */
.bg-dark.primary-navbar{
	background-color: #014421 !important; 
	min-height:75px; 
	box-shadow: 4px 0 2px -2px darkslategray;
}

@media(min-width:786px){
	.navbar-brand img{
		width:100%;
		max-width:300px;
		max-height:150px;
	}
	
	.navbar-brand h1{
		text-align: center;
	}
		
}

@media(max-width:786px){
	.navbar-brand{
		max-width:75%;
		margin-right:0px !important;
	}
	
	.navbar-brand h1{
		font-size:1em;
	}
	
	.navbar-brand img{
		width:100%;
		max-width:75px;
	}
	
}

li.dropdown:hover>.dropdown-menu{
	display:block; 
}

li.dropdown:hover .dropdown-menu>li.dropdown{
	display:block;
	position:relative;
	border:none;
}

li.dropdown:hover>.dropdown-menu{
	display:block;
}

ul.dropdown-menu{
	border-radius: 0px;
	border:none;
	transition:display 5s ease-in;
}

li.dropdown:hover .dropdown-menu>li.dropdown{
	display:block;
	position:relative;
	border:none;
}

li.dropdown:hover .dropdown-menu>li.dropdown:hover .sub-menu{
  display:block;
  left:100%;
  top:0%;
  height:inherit;
}

@media(min-width:768px){
  a.dropdown-item::after{
	transform: rotate(-90deg);
  }
  
  ul.dropdown-menu{
	  box-shadow: 0px 2px 15px -15px #000000;
  }
}


/* Secondary Navigation Styles */

.bg-dark.secondary-navbar{
	background:linear-gradient(90deg, #014421, #014421, #014421, #023118) !important;
	max-height: 50px;
}

.secondary-nav-list{
	list-style-type: none;
	padding-left:0px !important;
}

.secondary-nav-list li a{
	color:#ffffff;
	text-decoration: none !important;
}

.secondary-nav-list li{
	display: inline-block;
	margin:5px;
}

.secondary-navigation-list--left, .secondary-navigation-list--center, .secondary-navigation-list--right{
	padding-left:0px !important;
	display: flex;
	justify-content: center;
	list-style-type: none;
}